body {
  background-color: #fdfff0;
  font-family: sans-serif;
}
.goodtext {
  color: #a1dd70;
}
.badtext {
  color: #a23131;
}
img {
  border: 2px solid black;
}
ol {
  background-color: #e8ecd6;
  border: 1px solid black;
  border-radius: 15px;
  padding: 25px;
}
